include mixins/_gridItem
doctype html
html(lang="es")
	
	include includes/_head

	body
		//- #wrapper
		#home
			include includes/home/_home
			#footer
				include includes/_footer
		include includes/_scripts