#home
	width: 100%
	height: 100%
	position: relative
	.coverSection
		.videoHold
			width: 100%
			height: 100%
			position: absolute
			top: 0
			left: 0
			overflow: hidden
			video
				width: 120%
				height: 120%
				position: absolute
				top: -10%
				left: -10%

		.box
			width: 670px
			height: 315px
			.lines
				position: absolute
				background-color: $white
				&.topL, &.bottomL
					width: 0%
					height: 15px
					
				&.leftL, &.rightL
					height: 0%
					width: 15px
				
				&.topL
					top: 0
					left: 0
				&.bottomL
					bottom: 0
					right: 0
				&.leftL
					left: 0
					bottom: 0
				&.rightL
					right: 0
					top: 0
			.txt
				width: 405px
				height: 175px
				top: 50px
				opacity: 0
				h1
					text-align: left

@media (max-width: 1110px) 
	#home
		.coverSection
			.box
				.txt
					h1 
						font-size: 28px
@media (max-width: 640px)
	#home
		.coverSection
			min-height: 420px
			.box
				width: 260px
				height: 220px
				.txt
					width: 200px
					height: 100px
					h1 
						font-size: 18px
		// .coverSection
		// 	.box
		// 		width: 420px
		// 		height: 400px
		// 		.txt
		// 			width: 300px
		// 			height: 150px
		// 			h1 
		// 				font-size: 28px
					