@font-face {
  font-family: "book";
  src: url("../assets/fonts/LuloCleanOne-webfont.eot");
  src: url("../assets/fonts/LuloCleanOne-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/LuloCleanOne-webfont.woff2") format("woff2"), url("../assets/fonts/LuloCleanOne-webfont.woff") format("woff"), url("../assets/fonts/LuloCleanOne-webfont.ttf") format("truetype"), url("../assets/fonts/LuloCleanOne-webfont.svg#lulo_cleanone") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "bold";
  src: url("../assets/fonts/LuloCleanOneBold-webfont.eot");
  src: url("../assets/fonts/LuloCleanOneBold-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/LuloCleanOneBold-webfont.woff2") format("woff2"), url("../assets/fonts/LuloCleanOneBold-webfont.woff") format("woff"), url("../assets/fonts/LuloCleanOneBold-webfont.ttf") format("truetype"), url("../assets/fonts/LuloCleanOneBold-webfont.svg#lulo_cleanone_bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "book-outline";
  src: url("../assets/fonts/LuloCleanOutline-webfont.eot");
  src: url("../assets/fonts/LuloCleanOutline-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/LuloCleanOutline-webfont.woff2") format("woff2"), url("../assets/fonts/LuloCleanOutline-webfont.woff") format("woff"), url("../assets/fonts/LuloCleanOutline-webfont.ttf") format("truetype"), url("../assets/fonts/LuloCleanOutline-webfont.svg#lulo_cleanoutline") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "bold-outline";
  src: url("../assets/fonts/LuloCleanOutlineBold-webfont.eot");
  src: url("../assets/fonts/LuloCleanOutlineBold-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/LuloCleanOutlineBold-webfont.woff2") format("woff2"), url("../assets/fonts/LuloCleanOutlineBold-webfont.woff") format("woff"), url("../assets/fonts/LuloCleanOutlineBold-webfont.ttf") format("truetype"), url("../assets/fonts/LuloCleanOutlineBold-webfont.svg#lulo_cleanoutline_bold") format("svg");
  font-weight: normal;
  font-style: normal; }
#home {
  width: 100%;
  height: 100%;
  position: relative; }

.gridWrap {
  width: 1515px;
  height: 1550px;
  position: relative;
  margin: 0 auto; }
  .gridWrap .holdGrid:nth-child(odd) {
    margin-right: 20px; }
  .gridWrap .singleHold, .gridWrap .singleHolder, .gridWrap .dobleHold {
    position: relative;
    margin-bottom: 20px;
    height: 670px;
    float: left;
    margin-right: 0px; }
  .gridWrap .singleHold, .gridWrap .singleHolder {
    width: 485px; }
  .gridWrap .dobleHold {
    width: 1010px; }
  .gridWrap .singleHolder .singleHolds {
    width: 100%;
    height: 325px;
    position: relative;
    margin-bottom: 20px;
    margin-right: 0; }
  .gridWrap .singleHold .front, .gridWrap .singleHold .hover, .gridWrap .singleHold .fInerImg, .gridWrap .singleHolds .front, .gridWrap .singleHolds .hover, .gridWrap .singleHolds .fInerImg, .gridWrap .dobleHold .front, .gridWrap .dobleHold .hover, .gridWrap .dobleHold .fInerImg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .gridWrap .singleHold .front, .gridWrap .singleHolds .front, .gridWrap .dobleHold .front {
    background-color: #171717; }
    .gridWrap .singleHold .front .fInerImg, .gridWrap .singleHolds .front .fInerImg, .gridWrap .dobleHold .front .fInerImg {
      background-position: center;
      background-repeat: no-repeat; }
  .gridWrap .singleHold .hover, .gridWrap .singleHolds .hover, .gridWrap .dobleHold .hover {
    opacity: 0;
    overflow: hidden; }
    .gridWrap .singleHold .hover .inerImg, .gridWrap .singleHolds .hover .inerImg, .gridWrap .dobleHold .hover .inerImg {
      width: 110%;
      height: 110%;
      position: absolute;
      top: -5%;
      left: -5%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
  .gridWrap #h2-home, .gridWrap #h7-home {
    margin-right: 0; }

html, body {
  margin: 0 auto;
  min-width: 1000px;
  width: 100%;
  min-height: 800px;
  position: relative;
  font-family: "book";
  background-color: #ffffff; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
  color: #040707;
  text-decoration: none; }

p {
  margin: 0 auto; }

sub {
  font-size: 10px;
  top: -8px;
  position: relative;
  color: #fff;
  left: -3px; }

h2, h3 {
  font-size: 25px;
  margin: 0 auto;
  text-align: left;
  color: #000000; }

h3 {
  font-size: 20px; }

h1 {
  text-align: center;
  margin: 0;
  font-size: 40px;
  text-align: center;
  color: #000000;
  font-family: "bold"; }

ul {
  padding-left: 22px;
  list-style: none; }

ul li {
  font-size: 13px;
  line-height: 19px;
  text-indent: -5px; }

input {
  outline: none;
  border: none; }

section {
  width: 100%;
  height: 360px;
  position: relative;
  padding-top: 25px; }

.section-half {
  width: 50%; }

.section-third {
  width: 33.3%; }

.section-full {
  width: 100%; }

.autoalpha-0 {
  opacity: 0;
  visibility: hidden; }

.align-center {
  text-align: center; }

.center-all,
.center-horizontal,
.center-vertical {
  position: absolute;
  margin: auto; }

.center-all,
.center-horizontal {
  left: 0;
  right: 0; }

.center-all,
.center-vertical {
  top: 0;
  bottom: 0; }

.btn-borders {
  border-radius: 5px; }

.coverSection {
  width: 100%;
  height: 100%;
  min-height: 800px;
  position: relative;
  background-color: #040707; }
  .coverSection h1 {
    color: #ffffff; }

#wrapper {
  width: 100%;
  position: relative;
  margin: 0 auto;
  height: 100%; }
