@font-face {
  font-family: "book";
  src: url("../assets/fonts/LuloCleanOne-webfont.eot");
  src: url("../assets/fonts/LuloCleanOne-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/LuloCleanOne-webfont.woff2") format("woff2"), url("../assets/fonts/LuloCleanOne-webfont.woff") format("woff"), url("../assets/fonts/LuloCleanOne-webfont.ttf") format("truetype"), url("../assets/fonts/LuloCleanOne-webfont.svg#lulo_cleanone") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "bold";
  src: url("../assets/fonts/LuloCleanOneBold-webfont.eot");
  src: url("../assets/fonts/LuloCleanOneBold-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/LuloCleanOneBold-webfont.woff2") format("woff2"), url("../assets/fonts/LuloCleanOneBold-webfont.woff") format("woff"), url("../assets/fonts/LuloCleanOneBold-webfont.ttf") format("truetype"), url("../assets/fonts/LuloCleanOneBold-webfont.svg#lulo_cleanone_bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "book-outline";
  src: url("../assets/fonts/LuloCleanOutline-webfont.eot");
  src: url("../assets/fonts/LuloCleanOutline-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/LuloCleanOutline-webfont.woff2") format("woff2"), url("../assets/fonts/LuloCleanOutline-webfont.woff") format("woff"), url("../assets/fonts/LuloCleanOutline-webfont.ttf") format("truetype"), url("../assets/fonts/LuloCleanOutline-webfont.svg#lulo_cleanoutline") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "bold-outline";
  src: url("../assets/fonts/LuloCleanOutlineBold-webfont.eot");
  src: url("../assets/fonts/LuloCleanOutlineBold-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/LuloCleanOutlineBold-webfont.woff2") format("woff2"), url("../assets/fonts/LuloCleanOutlineBold-webfont.woff") format("woff"), url("../assets/fonts/LuloCleanOutlineBold-webfont.ttf") format("truetype"), url("../assets/fonts/LuloCleanOutlineBold-webfont.svg#lulo_cleanoutline_bold") format("svg");
  font-weight: normal;
  font-style: normal; }
#home {
  width: 100%;
  height: 100%;
  position: relative; }
  #home .coverSection .videoHold {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; }
    #home .coverSection .videoHold video {
      width: 120%;
      height: 120%;
      position: absolute;
      top: -10%;
      left: -10%; }
  #home .coverSection .box {
    width: 670px;
    height: 315px; }
    #home .coverSection .box .lines {
      position: absolute;
      background-color: #ffffff; }
      #home .coverSection .box .lines.topL, #home .coverSection .box .lines.bottomL {
        width: 0%;
        height: 15px; }
      #home .coverSection .box .lines.leftL, #home .coverSection .box .lines.rightL {
        height: 0%;
        width: 15px; }
      #home .coverSection .box .lines.topL {
        top: 0;
        left: 0; }
      #home .coverSection .box .lines.bottomL {
        bottom: 0;
        right: 0; }
      #home .coverSection .box .lines.leftL {
        left: 0;
        bottom: 0; }
      #home .coverSection .box .lines.rightL {
        right: 0;
        top: 0; }
    #home .coverSection .box .txt {
      width: 405px;
      height: 175px;
      top: 50px;
      opacity: 0; }
      #home .coverSection .box .txt h1 {
        text-align: left; }

@media (max-width: 1110px) {
  #home .coverSection .box .txt h1 {
    font-size: 28px; } }
@media (max-width: 640px) {
  #home .coverSection {
    min-height: 420px; }
    #home .coverSection .box {
      width: 260px;
      height: 220px; }
      #home .coverSection .box .txt {
        width: 200px;
        height: 100px; }
        #home .coverSection .box .txt h1 {
          font-size: 18px; } }
.gridWrap {
  width: 1515px;
  height: 4840px;
  position: relative;
  margin: 0 auto;
  padding-top: 80px; }
  .gridWrap .holdGrid:nth-child(odd) {
    margin-right: 20px; }
  .gridWrap .singleHold, .gridWrap .singleHolder, .gridWrap .dobleHold {
    position: relative;
    margin-bottom: 20px;
    height: 670px;
    float: left;
    margin-right: 0px; }
  .gridWrap .singleHold, .gridWrap .singleHolder {
    width: 485px; }
  .gridWrap .dobleHold {
    width: 1010px; }
  .gridWrap .singleHolder .singleHolds {
    width: 100%;
    height: 325px;
    position: relative;
    margin-bottom: 20px;
    margin-right: 0; }
  .gridWrap .singleHold .front, .gridWrap .singleHold .hover, .gridWrap .singleHold .fInerImg, .gridWrap .singleHolds .front, .gridWrap .singleHolds .hover, .gridWrap .singleHolds .fInerImg, .gridWrap .dobleHold .front, .gridWrap .dobleHold .hover, .gridWrap .dobleHold .fInerImg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .gridWrap .singleHold .front, .gridWrap .singleHolds .front, .gridWrap .dobleHold .front {
    background-color: #171717; }
    .gridWrap .singleHold .front .fInerImg, .gridWrap .singleHolds .front .fInerImg, .gridWrap .dobleHold .front .fInerImg {
      background-position: center;
      background-repeat: no-repeat; }
  .gridWrap .singleHold .hover, .gridWrap .singleHolds .hover, .gridWrap .dobleHold .hover {
    opacity: 0;
    overflow: hidden; }
    .gridWrap .singleHold .hover .inerImg, .gridWrap .singleHolds .hover .inerImg, .gridWrap .dobleHold .hover .inerImg {
      width: 110%;
      height: 110%;
      position: absolute;
      top: -5%;
      left: -5%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: center; }
  .gridWrap #h2-home, .gridWrap #h7-home, .gridWrap #h12-home, .gridWrap #h17-home {
    margin-right: 0; }

@media (max-width: 1515px) {
  .gridWrap {
    width: 95%; }
    .gridWrap .holdGrid:nth-child(odd) {
      margin-right: 1%; }
    .gridWrap .singleHold, .gridWrap .singleHolder {
      width: 33%; }
    .gridWrap .dobleHold {
      width: 66%; } }
@media (max-width: 1110px) {
  .gridWrap {
    width: 95%;
    height: 8630px; }
    .gridWrap .holdGrid {
      margin-right: 0%; }
    .gridWrap .dobleHold, .gridWrap .singleHold, .gridWrap .singleHolder {
      width: 100%; }
    .gridWrap .singleHolder {
      height: 325px; }
      .gridWrap .singleHolder .singleHolds {
        width: 49%;
        float: left;
        margin-bottom: 0; }
    .gridWrap #h5, .gridWrap #h10, .gridWrap #h15 {
      margin-right: 0; } }
@media (max-width: 640px) {
  .gridWrap {
    width: 98%;
    height: 9600px; }
    .gridWrap .holdGrid {
      margin-right: 0%; }
    .gridWrap .dobleHold, .gridWrap .singleHold, .gridWrap .singleHolder {
      width: 100%; }
    .gridWrap .singleHolder {
      height: 670px;
      margin-bottom: 20px; }
      .gridWrap .singleHolder .singleHolds {
        width: 100%;
        float: left;
        margin-bottom: 20px;
        margin-right: 0; } }
#topNav {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 10; }
  #topNav .leftSide, #topNav .rightSide {
    width: 210px;
    height: 20px;
    padding-top: 25px;
    position: absolute;
    top: 0; }
    #topNav .leftSide a, #topNav .rightSide a {
      float: left;
      font-size: 12px;
      position: relative;
      font-family: "bold"; }
      #topNav .leftSide a:nth-child(1), #topNav .rightSide a:nth-child(1) {
        margin-right: 30px; }
  #topNav .leftSide {
    width: 220px;
    left: 0;
    margin-left: 20px; }
  #topNav .rightSide {
    right: 0; }
  #topNav .centerSide {
    width: 300px;
    height: 43px; }
    #topNav .centerSide h2 {
      text-align: center;
      font-family: "bold";
      color: #040707; }
      #topNav .centerSide h2 span {
        color: #606162; }

#navMobile {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; }
  #navMobile .hold {
    width: 90%;
    height: 100%;
    padding-top: 10%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff; }
    #navMobile .hold a {
      width: 100%;
      height: 40px;
      padding-top: 30px;
      padding-bottom: 30px;
      text-align: center;
      font-size: 35px;
      position: relative;
      display: block;
      border-bottom: 1px solid #e1e1e1; }
      #navMobile .hold a:active {
        background-color: #e1e1e1; }

@media (max-width: 1110px) {
  #topNav .leftSide, #topNav .rightSide {
    display: none; }
  #topNav .centerSide {
    left: -60%; }
  #topNav .mobileIcon {
    width: 60px;
    height: 50px;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 15px; }
    #topNav .mobileIcon .line {
      width: 100%;
      height: 10px;
      background-color: #000000;
      position: relative; }
      #topNav .mobileIcon .line.isC {
        margin-top: 10px;
        margin-bottom: 10px; } }
@media (max-width: 640px) {
  #topNav .leftSide, #topNav .rightSide {
    display: none; }
  #topNav .centerSide {
    left: -45%; } }
#footer {
  width: 100%;
  height: 120px;
  position: relative;
  background-color: #e1e1e1;
  padding-top: 30px;
  font-size: 12px; }
  #footer .section-third p {
    font-size: 12px; }
  #footer .section-third.cTa {
    text-align: center; }
  #footer .section-third.rTa {
    text-align: right; }

@media (max-width: 640px) {
  #footer {
    height: 360px;
    font-size: 19px;
    margin-top: 50px; }
    #footer .section-third {
      width: 100%;
      height: 33.3%;
      text-align: center; }
      #footer .section-third.cTa, #footer .section-third.rTa {
        text-align: center; } }
body, html {
  height: 100%;
  min-height: 800px;
  width: 100%;
  margin: 0 auto;
  font-family: "book";
  background-color: #ffffff;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
  color: #040707;
  text-decoration: none; }

p {
  margin: 0 auto; }

sub {
  font-size: 10px;
  top: -8px;
  position: relative;
  color: #fff;
  left: -3px; }

h2, h3 {
  font-size: 30px;
  margin: 0 auto;
  text-align: left;
  color: #000000; }

h3 {
  font-size: 20px; }

h1 {
  text-align: center;
  margin: 0;
  font-size: 40px;
  text-align: center;
  color: #000000;
  font-family: "bold"; }

ul {
  padding-left: 22px;
  list-style: none; }

ul li {
  font-size: 13px;
  line-height: 19px;
  text-indent: -5px; }

input {
  outline: none;
  border: none; }

section {
  width: 100%;
  height: 360px;
  position: relative;
  padding-top: 25px; }

.section-third, .section-half {
  float: left;
  position: relative; }

.section-half {
  width: 50%; }

.section-third {
  width: 33.3%; }

.section-full {
  width: 100%; }

.autoalpha-0 {
  opacity: 0;
  visibility: hidden; }

.align-center {
  text-align: center; }

.center-all,
.center-horizontal,
.center-vertical {
  position: absolute;
  margin: auto; }

.center-all,
.center-horizontal {
  left: 0;
  right: 0; }

.center-all,
.center-vertical {
  top: 0;
  bottom: 0; }

.btn-borders {
  border-radius: 5px; }

.coverSection {
  width: 100%;
  height: 100%;
  min-height: 800px;
  position: relative;
  background-color: #040707; }
  .coverSection h1 {
    color: #ffffff; }

.safe-in {
  width: 1515px;
  height: 100%;
  margin: 0 auto; }

#wrapper {
  width: 100%;
  position: relative;
  margin: 0 auto;
  height: 100%; }

@media (max-width: 1515px) {
  .safe-in {
    width: 95%; } }
@media (max-width: 1110px) {
  .safe-in {
    width: 95%; } }
@media (max-width: 640px) {
  body, html {
    min-height: 420px; }

  .safe-in {
    width: 98%; } }
