head
	meta( charset='UTF-8' )
	meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
	title SIDERAL | Studio
	meta( name='description', content="" )
	meta(name='keywords', content="")
	meta( name='viewport', content='width=device-width, initial-scale=0.5, maximum-scale=0.5, minimum-scale= 0.5' )

	meta( property="og:url", content="")
	meta( property="og:title", content="SIDERAL")
	meta( property="og:description", content="")
	meta( property="og:image", content="")
	meta( property="og:image", content="")
	meta( property="og:image", content="")

	meta( itemprop='name', content='Odiseo')
	meta( itemprop='description', content='')
	meta( itemprop='image', content="")
	meta( itemprop='image', content="")
	meta( itemprop='image', content="")

	link( rel="icon", type="image/png", href="fav.ico" )
	
	link( rel='stylesheet', type="text/css", href='css/main.css' )

