nav#topNav
	.leftSide
		a(href="/") Proyectos
		a(href="#") Studio
	.centerSide.center-all
		h2 SIDERAL<span>MX</span>
	.rightSide
		a(href="#") Contacto
		a(href="#") Studio
	.mobileIcon#openMenu
		.line
		.line.isC
		.line

#navMobile
	.hold
		a(href="#") Proyectos
		a(href="#") Studio
		a(href="#") Contacto
		a(href="#") Studio
