.gridWrap
	include ../_nav
	+grid_item({type: 'single', cual:'1', id:'h1',nameImg:'chilenitza', nameImgH:'chilenitza-hover'})
	+grid_item({type: 'doble', cual:'2', id:'h2',nameImg:'mexcalin', nameImgH:'mexcalin-hover'})

	+grid_item({type: 'doble', cual:'3', id:'h3',nameImg:'bowker', nameImgH:'bowker-hover'})
	.singleHolder
		+grid_item({type: 'single2', cual:'4', id:'h4',nameImg:'cover1', nameImgH:'cover1-hover'})
		+grid_item({type: 'single2', cual:'5', id:'h5',nameImg:'nadir', nameImgH:'nadir-hover'})

	+grid_item({type: 'single', cual:'6', id:'h6',nameImg:'martha', nameImgH:'martha-hover'})
	+grid_item({type: 'doble', cual:'7', id:'h7',nameImg:'scribe', nameImgH:'scribe-hover'})

	+grid_item({type: 'doble', cual:'8', id:'h8',nameImg:'123', nameImgH:'123-hover'})
	.singleHolder
		+grid_item({type: 'single2', cual:'9', id:'h9',nameImg:'spoleta', nameImgH:'spoleta-hover'})
		+grid_item({type: 'single2', cual:'10', id:'h10',nameImg:'javon', nameImgH:'javon-hover'})

	+grid_item({type: 'single', cual:'11', id:'h11',nameImg:'shirt', nameImgH:'shirt-hover'})
	+grid_item({type: 'doble', cual:'12', id:'h12',nameImg:'xagu', nameImgH:'xagu-hover'})

	+grid_item({type: 'doble', cual:'13', id:'h13',nameImg:'performance', nameImgH:'performance-hover'})
	.singleHolder
		+grid_item({type: 'single2', cual:'14', id:'h14',nameImg:'alebrije', nameImgH:'alebrije-hover'})
		+grid_item({type: 'single2', cual:'15', id:'h15',nameImg:'nike', nameImgH:'nike-hover'})

	+grid_item({type: 'single', cual:'16', id:'h16',nameImg:'yuma', nameImgH:'yuma-hover'})
	+grid_item({type: 'doble', cual:'17', id:'h17',nameImg:'trixi', nameImgH:'trixi-hover'})

	