.gridWrap
	+grid_item({type: 'single', id:'h1',nameImg:'chilenitza', nameImgH:'chilenitza-hover'})
	+grid_item({type: 'doble', id:'h2',nameImg:'mexcalin', nameImgH:'mexcalin-hover'})

	+grid_item({type: 'doble', id:'h3',nameImg:'bowker', nameImgH:'bowker-hover'})
	.singleHolder
		+grid_item({type: 'single2', id:'h4',nameImg:'cover1', nameImgH:'cover1-hover'})
		+grid_item({type: 'single2', id:'h5',nameImg:'nadir', nameImgH:'nadir-hover'})

	+grid_item({type: 'single', id:'h6',nameImg:'martha', nameImgH:'martha-hover'})
	+grid_item({type: 'doble', id:'h7',nameImg:'scribe', nameImgH:'scribe-hover'})

	+grid_item({type: 'doble', id:'h8',nameImg:'123', nameImgH:'123-hover'})
	.singleHolder
		+grid_item({type: 'single2', id:'h9',nameImg:'spoleta', nameImgH:'spoleta-hover'})
		+grid_item({type: 'single2', id:'h10',nameImg:'javon', nameImgH:'javon-hover'})

