.coverSection
	.videoHold
		video(width="120%", height="120%", controls="no", loop="true", autoplay="true")
			source(src="assets/videos/sideral_home.mp4", type="video/mp4")
			source(src="assets/videos/sideral_home.ogg", type="video/ogg")
			source(src="assets/videos/sideral_home.webm", type="video/webm")
	//- .box.center-all  poster="img/screen_fondo.png"
	//- 	.lines.topL
	//- 	.lines.leftL
	//- 	.lines.bottomL
	//- 	.lines.rightL
	//- 	.txt.center-all
	//- 		h1 CREATIVIDAD <br> EN TIEMPO Y<br> ESPACIO.
include _grid