.coverSection
.infoHold
	.safe-in
		.section-half.fistHalf
			.titles
				p <span>Remember September</span><br>Campagne
			.category
				p Category: Identity & Web
		.section-half.secondHalf
			.description
				p Voor Eindhoven is september 2014 een maand om uitgebreid bij stil te staan. 70 jaar bevrijding, 30 jaar Lichtjesroute en 10 jaar Ameezing. Een mooie aanleiding om samen vrijheid te gedenken en te vieren. In opdracht van Eindhoven365 ontwikkelden wij een krachtige campagne, geïnspireerd op militaire beeldtaal. Heldere vormen en frisse kleuren zorgden voor een feestelijk straatbeeld.
			.autors
				p <span>Remember September</span> / <span>Eindhoven365</span>
include _grid
	