.gridWrap
	.wrapGrid
		+grid_item_proyect({type: 'single',nameImg:'chilenitza', id:'h1'})
		+grid_item_proyect({type: 'doble',nameImg:'mexcalin', id:'h2'})

		+grid_item_proyect({type: 'doble',nameImg:'bowker', id:'h3'})
		.singleHolder
			+grid_item_proyect({type: 'single2',nameImg:'cover1', id:'h4'})
			+grid_item_proyect({type: 'single2', id:'h5',nameImg:'nadir', id:'h5'})

		+grid_item_proyect({type: 'single',nameImg:'martha', id:'h6'})
		+grid_item_proyect({type: 'doble',nameImg:'scribe', id:'h7'})

		+grid_item_proyect({type: 'doble',nameImg:'123', id:'h8'})
		.singleHolder
			+grid_item_proyect({type: 'single2',nameImg:'spoleta', id:'h9'})
			+grid_item_proyect({type: 'single2',nameImg:'javon', id:'h10'})

		+grid_item_proyect({type: 'single',nameImg:'shirt', id:'h11'})
		+grid_item_proyect({type: 'doble',nameImg:'xagu', id:'h12'})

		+grid_item_proyect({type: 'doble',nameImg:'performance', id:'h13'})
		.singleHolder
			+grid_item_proyect({type: 'single2',nameImg:'alebrije', id:'h14'})
			+grid_item_proyect({type: 'single2',nameImg:'nike', id:'h15'})

		+grid_item_proyect({type: 'single',nameImg:'yuma', id:'h16'})
		+grid_item_proyect({type: 'doble',nameImg:'trixi', id:'h17'})
	.arrow
		.arw.prev
		.arw.next

	