include ../../mixins/_gridItem
doctype html
html(lang="es")
	
	include ../_head

	body
		//- #wrapper
		#home
			include _cover
			#footer
				include ../_footer
			
		include ../_nav

		include ../_scripts